@model Nhom19_QuanLyLuuTruDienTu.models.AccountInfo

@{
    ViewBag.Title = "DetailUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Thông tin người dùng</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label for="">Tên người dùng:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <label for="">Email Address</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <label for="">Home Address</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            <label for="">Phone Number</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Thay đổi thông tin", "EditUser", new { id = Model.AccountInfoID }, new { @class = "btn btn-primary" })
    @*@Html.ActionLink("Xem lịch sử mua hàng", "History", null, new { @class = "btn btn-primary" })*@
</p>


