
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
@using Nhom19_QuanLyLuuTruDienTu.models
@model IndexVM

<style>
    a {
        color: inherit;
    }

    .fileinfo-container {
        height: auto;
        width: 500px;
        background: #191c24;
        position: fixed;
        top: 15%;
        left: 70%;
        border-radius: 10px;
        display: block;
        float: left;
        padding-bottom:20px;
    }

    .fileinfo-content {
        height: auto;
        width: auto;
        float: left;
    }

    .foldercontainterarea {
        height: auto;
        width: 1000px;
        display: block;
    }

    .foldercard {
        height: 150px;
        width: 150px;
        background: #191c24;
        border: 1px solid #808080;
        border-radius: 5px;
        float: left;
        margin: 25px;
    }

        .foldercard:hover {
            height: 150px;
            width: 150px;
            background: #282d3b;
            border: 1px solid #808080;
            border-radius: 5px;
            float: left;
            margin: 25px;
        }

        .foldercard p {
            text-align: center;
        }

        .foldercard img {
            margin: 25px;
        }
</style>
<div style="width: 500px; float: left; font-family: Arial;">

    @using (@Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (TempData["Message"] != null)
        {

            <p style="font-family: Arial; font-size: 16px; font-weight: 200; color: red">@TempData["Message"]</p>
        }
        <table>
            <tr>
                <td style="width: 50px;">
                    <b style="color: #FF5722">File:</b>
                </td>
                <td>
                    <input type="file" name="files" id="files" multiple="multiple" />
                </td>
                <td>
                    <button type="submit" class="btn btn-success btn-rounded btn-icon-text">
                        <i class="mdi mdi-upload btn-icon-prepend"></i> Upload
                    </button>
                </td>
            </tr>
        </table>

    }
    @using (Html.BeginForm("Create", "Folder", FormMethod.Post))
    {
        <b style="color: #FF5722">Folder:</b>
        <input type="text" name="foldername" />
        <input type="submit" name="Create Folder" />
        <hr />
        <h2>@ViewBag.message</h2>
    }
    @foreach (var folders in Model.Folders)
    {
        <div class="foldercontainterarea">
            <div class="foldercard">
                @Html.ActionLink("X", "Foldel", "Folder", new { id = @folders.FolderID },
               new { onclick = "return confirm('Xóa Thư mục sẽ xóa tất cả những gì bên trong, bạn chắc chứ?');" })
                <a href="@Url.Action("Edit", "Folders", new { id = folders.FolderID })">...</a>
                <a href="@Url.Action("Details", "Folder", new { id = @folders.FolderID})">
                    <div>
                        <img src="~/Content/assets/images/folderpng.png" width="100" style="margin-top: -2px" />
                        <p>@folders.FolderName</p>
                    </div>
                </a>
            </div>
        </div>
    }

    <table class="table table-hover table-dark">
        <tr>
            <th class="sorting_asc">
                File
            </th>
            <th class="sorting">
                Size
            </th>
            <th class="sorting">
                Type
            </th>
            <th class="sorting"></th>
            <th class="sorting"></th>
            <th class="sorting"></th>
        </tr>

        @foreach (var item in Model.Files)
        {
            <tr class="Search">
                <td class="sorting_1">
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td class="sorting_1" name="Size">

                    @Html.DisplayFor(modelItem => item.SizeInMB) MB
                </td>
                <td class="sorting_1">
                    @Html.DisplayFor(modelItem => item.FileType.TypeName)
                </td>
                <th class="sorting">
                    @Html.ActionLink("Download", "Download", "Home", new { fileName = item.FileName }, null)
                </th>
                <th class="sorting">
                    @Html.ActionLink("Delete", "DeleteFile", "Home", new { id = item.FileID }, null)
                </th>
                <th class="sorting">
                    @Html.ActionLink("...", "FileDetails", "Folder", new { id = item.FileID }, null)
                </th>
            </tr>

        }

    </table>
</div>

<div class="fileinfo-container">
    <div class="fileinfo-content">
        <img src="~/Content/assets/images/filepng.png" height=200 style="margin: 40px 0px 0px 140px" />
        <table style="height: 287px; margin: 30px 0px 0px 30px; vertical-align: text-bottom;">
            <tr>
                <th>File Name: <p>@Session["finame"]</p></th>
            </tr>
            <tr>
                <th>Size <p>@Session["fisize"] MB</p></th>
            </tr>
            <tr>
                <th>Type <p>@Session["fitype"]</p></th>
            </tr>
            <tr>
                <th>Owner <p>@Session["fiowner"]</p></th>
            </tr>
            <tr>
                <th>Create Date <p>@Session["ficreate"]</p></th>
            </tr>
            <tr>
                <th>Modified Date <p>@Session["fiedit"]</p></th>
            </tr>
            <tr>
                <th>Description<p>@Session["fidesc"]</p></th>
            </tr>
            <tr>
                <th><h3>| @Html.ActionLink("More Info & Edit", "Edit", "Files", new { id = Session["fiId"] }, null) |</h3></th>
            </tr>
        </table>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
        $('table tbody tr').click(function () {
            var text = $(this).find('td:first-child')[0].innerText;
            console.log(text);
            document.getElementById("test").innerText = $(this).text();
        });
    });
</script>
<script>
    $(function () {
        var PlaceHolderElement = $('#PlaceHolderHere');
        $('button[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url');
            var decodedUrl = decodeURIComponent(url);
            $.get(decodedUrl).done(function (data) {
                PlaceHolderElement.html(data);
                PlaceHolderElement.find('.modal').modal('show');
            })
        })

        PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
            event.preventDefault();
            var form = $(this).parent('.modal').find('form');
            var actionUrl = form.attr('action');
            var sendData = form.serialize();
            $.post(actionUrl, sendData).done(function (data) {
                PlaceHolderElement.find('.modal').modal('hide');
            })
        })
    })
</script>
<script>
    $(document).ready(function () {
        var mb = bytesToSize($(#Size).val());
        $(#Size).text(mb);
});
    function bytesToSize(byte) {
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes == 0) return '0 Byte';
        var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
        return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
    }
</script>
